/* New styles for contact page */
.employee-gallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin:  0 auto;
}

.employee-gallery figure {
    text-align: center;
    flex: 1;
}

.employee-gallery img {
    width: 100%;
    height: auto;
}

.employee-gallery figcaption {
    margin-top: 1rem;
    font-family: var(--text-font);
    color: var(--primary-color);
}

form {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

form button {
    padding: 0.8rem;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: var(--accent1-color);
}

.google-map {
    margin-top: 1rem;
    width: 100%;
    height: 400px;
}