nav {
    background-color: darkblue; 
    padding: 10px;
}

nav a {
    color: white;
    display: black;
    padding: 20px;
}

nav a {
    width: 200px;
    margin: 20px auto;
    border: 2px solid darkblue;
    padding: 15px;
    background-color: black; 
    
    color: darkblue;
}

img {
    width: 200px;
    height: auto;

}

p {padding: 0;}

 
    
   

